.modalContainer {
    display: none;
}

.modalContainer .modalDialogOverlay {
width: 100%;
height: 100%;
position: fixed;
font-family: Arial, Helvetica, sans-serif;
left: 0;
top: 0;
background: rgba(0, 0, 0, 0.8);
z-index: 999;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}

.modalContainer .modalContent {
width: 50%;
position: relative;
background: #fff;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
z-index: 999;
padding: 30px;
text-align: center;
border-radius: 10px;
overflow: hidden;
height: 500px;
}

/* 닫기 표시 */
.closemodal {
display: block;
position: absolute;
right: 0;
top: 0;
cursor: pointer;
background-color: red;
color: #fff;
padding: 18px 20px;
}

.s3-relative{
	position:relative;
	width:100%;
	height:100%;
}
.s3-absolute{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:50%;
	height:50%;
	margin:auto;
  padding:1em 0;
  background-color:#fff;
  border : 1px solid black;
  text-align:center;
}

/*  */
.adm-top-title {
	display: inline;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
}
#idDiv {
    margin: 10px 0px;
}
#totalperson {
	color: #003876;
}

/* 하단 학생 수 리스트 */
.cnt-student-list {
	width: 100px;
    border-top-right-radius: 5px;
}
.yes {
	background: navy;
    color: white;
}
.no {
	background: navy;
    font-weight: bold;
}


