 * {
     padding: 0 ;
     margin: 0 ;
     font-family: 'NanumBarunGothic', 'serif';
}

html {
     scroll-behavior: smooth;
}

#top_header {
   background: white;
}

/*  ================================================
	첫째줄  메뉴 바
================================================== */
#top .top-logo, #top nav {
	display: inline-block;
}

.top-logo {
	margin-left: 30px;
}

.top-logo > a > img {
	margin: 5px;
	height: 35px; width : 130px;
	display: inline-block; 
}

#top nav {
	float: right;
	width: 300px;
}

#top nav a {
	color: #003876;
	margin: 0 10px;
	display: block;
	float: left;
	line-height: 50px;
	text-decoration: none;
	font-size: 15px;
	transition: opacity .3s ease-in-out;
}

#top nav a.alt {
    background-color: #003876;
    color: white;
    line-height: 30px;
    margin: 10px 5px;
    padding: 0 5px;
    border-radius: 3px;
}

#attendBtn, #idontknowBtn {
	color: #003876;
	margin: 0 10px;
	background:none;
	display: block;
	float: left;
	line-height: 50px;
	text-decoration: none;
	font-size: 14px;
	transition: opacity .3s ease-in-out;
	border:none;
	cursor:pointer;
}


/*  ================================================
	둘째 줄 메뉴 바
================================================== */
#tour-nav {
    width: 100%;
    overflow: hidden;
    box-shadow: 2px 1.5px 1px 1px black; 
    /* box-shadow: 2px 2px 2px 1px black; */
}

.menu-wrapper {
	width : 1100px;
	margin : 0 auto;
	text-align: center;
}

.menu-wrapper > div {
	display : inline-block;
	width : 120px;
	box-sizing : border-box;
	/* margin-left : 50px; */
	font-size : 15px;
	padding: 10px 10px; 
}

#tour-nav > .menu-wrapper > div:hover, 
#tour-nav > .menu-wrapper > div.active {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

#tour-nav > .menu-wrapper > div:hover > a, 
#tour-nav > .menu-wrapper > div.active > a {
    color: white;
}

#tour-nav a {
    line-height: 30px;
    color: #003876;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
    text-align: center;
}

#tour-nav a:focus, 
#tour-nav a:hover {
    font-weight : bold;
}

.menu i {
	color : block;
	display: inline-block;
}
.menu > a:hover i {
	/* 	color : #FFC240 !important; */
}


/*  ================================================
	 body section styles
================================================== */
#body-content {
	width : 1100px;
    min-height : 600px;  /* 전체 높이 지정 */
    height: auto;
	margin: 0 auto !important;
}

/*  ================================================
	 footer section styles
================================================== */
footer {
	margin-top : 200px;
	padding-top: 75px;
	padding-bottom: 75px;
	background: #141414;
	text-align: center;
	color : grey;
}


