/** 
	사이드 메뉴 추가시 #addBtn, 삭제시 #delBtn 아이디 부여
*/

/* 전체 범위 */
.body-wrapper {
    width : 1200px;
    min-height : 600px;  /* 전체 넓이 지정 */
    height: auto;
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin : 0 auto;
}

.body-wrapper {
	position : relative;
	top : 50px;
}

/* 과목 리스트 크기 */
.body-wrapper .sideMenuList {
    width : 200px;
    display : inline-block;
    overflow-y : auto;
}

/* 해당 content 크기 */
.body-wrapper .content {
    width: 1000px; height : auto;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 1px 1px lightgrey;
}


/* 사이드메뉴 ============================================================= */
.sideMenuList ul, li {
    list-style : none;
    margin-left : 0px;
    
    font-size : 20px;
    color : white;
    font-weight : bold;
    -webkit-user-select: none;	/* 드래그 금지 */
}

/* 스크롤 숨기기 */
::-webkit-scrollbar {
    display:none;
}

/* 과목 추가/삭제 버튼 */
#addBtn {
    width: 50px; height: 50px;
}
#addBtn:hover {
    cursor: pointer;
}
#delBtn {
    width: 50px; height: 50px;
}

/* 과목 div */
.sideMenuList .sideMenu {
    width : 180px;
    height : 30px;
    border : none;
    background : #003876;
    text-align : left;
    margin : 3px;
    padding : 5px;
}

/* 과목명 input */
.menuInput {
    background:none;
    border:none;
    font-size:20px;
    font-weight: bold;
    color:white;
    width:130px;
}
/* 과목명 input box 테두리 숨기기 */
input:focus {
    outline: none;
}
