@charset "UTF-8";

/* =================================================
   	버튼
   		등록	: .submitBtn
   		취소	: .delBtn
==================================================== */
.submitBtn, .delBtn {
    border-radius: 5px;
    border: 1px solid #003876;
    cursor: pointer;
    background: #003876;
    padding: 6px 20px;
    height: 30px;
    color: white;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 1;
}

.delBtn {
    color: #003876;
    background: white;
}

/* =================================================
   	스크롤
==================================================== */
.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll::-webkit-scrollbar-track {
  background: #eeeeee;
}
.scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .15);
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .2);
}

/* =================================================
   	조회(list) - 테이블
   	
   	테이블 부모 div : .listTable-wrapper
   	테이블		: .listTable
   	컬럼명
   		#no 	: 글번호
   		#file	: 첨부파일 여부
   		#viewCnt: 조회수
   		#writer	: 작성자 
   		#status : 답변여부
   		#regDate: 등록일
   	
==================================================== */
.listTable-wrapper {
    margin-top:20px;
}

table.listTable {
	margin:0 auto;
	width: 1100px; 
	text-align: center;
	border-collapse: collapse;
	border-top: 2px solid #003876;
	border-bottom: 2px solid #003876;
}

/* ----- 컬럼명 ---- */
.listTable th {
	border-bottom: 2px solid #003876;
	height: 50px;
}
#no, #file, #viewCnt, #writer, #status {
  width:8%;
}
#title {
  width:50%;
}
#regDate {
  width:10%;
}

/* ----- rows ---- */
.listTable tr {
	border-bottom : 1px solid lightgray;
	height: 45px;
}
.listTable tr:not(:first-child):hover {
	background-color: aliceblue;
}
.listTable a {
	text-decoration: none;
	color:black;
}

