@charset "UTF-8";

/* =================================================
   	버튼
   		등록	: .submitBtn
   		취소	: .delBtn
==================================================== */
.submitBtn, .delBtn {
	border-radius: 5px;
	border: 1px solid #003876;
	cursor: pointer;
	background: #003876;
	padding: 6px 20px;
	height: 30px;
	color: white;
	font-size: 14px;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
	z-index: 1;
}

.delBtn {
	color: #003876;
	background: white;
}

/* =================================================
   	스크롤
==================================================== */
.scroll::-webkit-scrollbar {
	width: 5px;
}

.scroll::-webkit-scrollbar-track {
	background: #eeeeee;
}

.scroll::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .15);
}

.scroll::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .2);
}

/* =================================================
   	조회(list) - 테이블
   	
   	테이블 부모 div : .listTable-wrapper
   	테이블		: .listTable
   	컬럼명
   		#no 	: 글번호
   		#file	: 첨부파일 여부
   		#viewCnt: 조회수
   		#writer	: 작성자 
   		#status : 답변여부
   		#regDate: 등록일
   	
==================================================== */
.listTable-wrapper {
	margin-top: 20px;
}

table.listTable {
	margin: 0 auto;
	width: 1100px;
	text-align: center;
	border-collapse: collapse;
	border-top: 2px solid #003876;
	border-bottom: 2px solid #003876;
}

/* ----- 컬럼명 ---- */
.listTable th {
	border-bottom: 2px solid #003876;
	height: 50px;
}

#no, #file, #viewCnt, #writer, #status {
	width: 8%;
}

#title {
	width: 50%;
}

#regDate {
	width: 10%;
}

/* ----- rows ---- */
.listTable tr {
	border-bottom: 1px solid lightgray;
	height: 45px;
}

.listTable tr:not (:first-child ):hover {
	background-color: aliceblue;
}

.listTable a {
	text-decoration: none;
	color: black;
}


/* =================================================
   	검색창
==================================================== */
.search-wrapper{
    height: 115px;
    margin:0 auto;
	width:1100px;
}

#searchDiv {
	width: 1100px;
	margin: 0 auto;
	position: relative;
	bottom: -45px;
}

#searchType {
	height: 30px;
	display: inline;
	right: 40px;
	position: relative;
}

/* 전체 게시물 개수 */
#listCnt {
	/* position: relative;
	bottom: 15px;
  	display: inline; */
	position: absolute;
	bottom: -71px;
	left: 0px;
	display: inline;
}

/* 검색 */
.search {
	/* position: relative;
    left:600px;
    top:25px;
    width: 450px;
    height: 70px; */
	position: absolute;
	right: 0px;
	top: 25px;
	width: 450px;
	height: 70px;
}
/* 검색버튼 동그라미 */
.search span {
	display: block;
	position: absolute;
	/* 검색버튼 위치 */
	left: 90%;
	top: 30%;
	height: 35px;
	width: 35px;
	border: 4px solid #003876;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transform: translate(-50%, -50%) rotate(-36deg);
	transform: translate(-50%, -50%) rotate(-36deg);
	transition: height 0.25s 0.25s ease, border-radius 0.25s 0.25s ease,
		-webkit-transform 0.25s 0.75s ease;
	transition: transform 0.25s 0.75s ease, height 0.25s 0.25s ease,
		border-radius 0.25s 0.25s ease;
	transition: transform 0.25s 0.75s ease, height 0.25s 0.25s ease,
		border-radius 0.25s 0.25s ease, -webkit-transform 0.25s 0.75s ease;
	box-sizing: border-box !important;
}
/* 검색버튼 막대기 */
.search span:after {
	content: "";
	position: inherit;
	top: 28px;
	left: 16px;
	height: 20px;
	width: 6px;
	background: #003876;
	transition: all 0.25s 0.5s ease;
	box-sizing: border-box !important;
}
/* 돋보기모양 */
.search button {
	position: absolute;
	left: calc(100% - 70px - ( 4px * 2));
	height: calc(100% - ( 4px * 4));
	width: 40px;
	background: none;
	border: 0;
	border-radius: 70px;
	font-size: 22px;
	/* color: rgb(1, 1, 2); */
	outline: none;
	transition: all 0.25s ease;
	visibility: hidden;
	opacity: 0;
	box-sizing: border-box !important;
}

.search input {
	width: 100%;
	height: 100%;
	padding: 15px 75px 15px 45px;
	background: none;
	border: 0;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	color: #2196F3;
	outline: none;
	transition: all 0.25s ease;
	visibility: hidden;
	opacity: 0;
	box-sizing: border-box !important;
}

.search.active span {
	height: 400px;
	width: 40px;
	border-radius: 50px;
	cursor: initial;
	/* 검색창 위치? */
	-webkit-transform: translate(-500%, -49%) rotate(-90deg);
	transform: translate(-500%, -49%) rotate(-90deg);
	transition: height 0.25s 0.5s ease, border-radius 0.25s 0.5s ease,
		-webkit-transform 0.25s ease;
	transition: transform 0.25s ease, height 0.25s 0.5s ease, border-radius
		0.25s 0.5s ease;
	/* transition: transform 0.25s ease, height 0.25s 0.5s ease, border-radius 0.25s 0.5s ease, -webkit-transform 0.25s ease; */
	box-sizing: border-box !important;
}

.search.active span:after {
	height: 0;
	transition-delay: 0.25s;
	box-sizing: border-box !important;
}
/* 돋보기 위치 옮기기 */
.search.active button {
	/*     position: absolute;
    left: calc(100% - 90px - (5px * 2));
    visibility: visible;
    opacity: 1;
    transition-delay: 0.75s;
    box-sizing: border-box !important; */
	position: absolute;
	top: -4px;
	/* left: calc(100% - 90px - (5px * 2)); */
	visibility: visible;
	opacity: 1;
	transition-delay: 0.75s;
	box-sizing: border-box !important;
}

.search.active input {
	position: relative;
	/* input창 위치 옮기기 */
	top: -10px;
	visibility: visible;
	opacity: 1;
	transition-delay: 0.75s;
	box-sizing: border-box !important;
}

.tdcener { text-align: center; }

.tdw1 { width: 20px; }
.tdw2 { width: 70px; }
.tdw3 { width: 100px; }