@charset "UTF-8";

/* 버튼 */
.ft-Btn {
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    background: #003876;
    /* width: 55px; */
    height: 30px;
    padding: 8px;
    letter-spacing: 1px;
    border: none;
    color: white;
    text-decoration: none;
}

.ft-Btn2 {
    position: relative;
    z-index: 1;
    padding: 0 5px;
    border: 1px solid rgb(68, 68, 226);
    box-shadow: 1px 1px 0.5px 0.5px lightgrey;
    margin: 3px;
    height: 30px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box !important;
    text-decoration: none;
    color: black;
}