<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
</head>
<body>
  <div id="header"></div>
    <div class="item">
        <div id="subTitle"><span>용어사전</span></div>
  
     </div>
     <div class="box">
       <div class="buttonList1">
         <ul class="buttonList">
           <li>
             <button class="sideMenu">JAVA</button>
             <ul class="dropdown">
               <li><button class="childMenu">IO</button></li>
               <li><button class="childMenu"> 반복문</button></li>
              </ul>
            </li>
            <li>
              <button class="sideMenu">JAVA</button>
              <ul class="dropdown">
                <li><button class="childMenu">IO</button></li>
                <li><button class="childMenu"> 반복문</button></li>
              </ul>
            </li>
            <li>
              <button class="sideMenu">JAVA</button>
              <ul class="dropdown">
                <li><button class="childMenu">IO</button></li>
                <li><button class="childMenu"> 반복문</button></li>
              </ul>
            </li>
          </ul> 
          <div class="buttonList1 content">
            <div><img id="addButton" src="../../picture/add2.png"/></div>
            <div class="word"><span>자바스크립트</span></div>
          </div>
        </div>
        
        <!-- 누르면 top으로 돌아가게 -->
      <div id="position1"><a href ="#header"><i class="fas fa-chevron-circle-up"></i>   </a></div>
      <!--누르면 맨아래로 돌아가게  -->
      <div id="position2"><a href ="#footer"><i class="fas fa-chevron-circle-down"></i>   </a></div>
        
    </div>
    <div id="footer"></div>
<script src="/flyingturtle/resources/user/js/jquery-3.3.1.js"></script>
<script src="/flyingturtle/resources/user/dictionary/list.js">   </script>

</body>
</html>