canvas {
  border: 1px solid blue;
}

/*색상 등 그림판 그리기 기능 css*/
.jb_table {
  display: table;
}
.row {
  border-radius: 10px;
  display: table-row;
}
.cell {
  display: table-cell;
  vertical-align: top;
}

#subInfo{
	height: 30px;
	line-height:30px;
	margin-bottom: 5px; 
}

p{
font-size: 10px;
color:gray;
}

.ft-Btn2{
	font-size: 10px;
	background-color: white;
}
.sis{
	text-align:center;
	min-width: 70px;
	display: inline-block;
	border-bottom:1px solid gray;
}