.box{
	margin: 0 auto;
	width: 1250px;
}

a{
  text-decoration: none;
  color:black;
}

ul,li{
	list-style: none;
	    margin: 0px;
    padding: 0px;
}

/* 인풋박스 클릭 시 파란색 테두리 없애기  */
input:focus {
  outline: none;
}
/* 용어사전 첫 페이지 */
.first-page {
	text-align : center; 
	line-height : 550px; 
	font-size : 30px;	
}

/*----------------복사시작*/
#searchDiv{
	height:70px;
}
#subTitle{
  text-align:center;
  font-size: 40px;
  margin-top:20px;
  display: block;
}

/* 스크롤 안보이게 */
::-webkit-scrollbar {
  display:none;
} 

/* 왼쪽 과목버튼리스트 */
.buttonList1,.buttonList{
    width:170px;
    display: inline-block;
    overflow-y: auto;
    height:600px;
    position:absolute;
    left: 0;
    top:70px;
}
/* 과목 추가 버튼 */

#addButton{
  padding-left:10px;
}
#addButton:hover{
  cursor: pointer;
}
/* 소과목 추가 버튼 */
.ddBtn {
  width:38px;
  height:40px;
  padding:10px;
  position: absolute;
  right:0;
  top:0;
  cursor: pointer;
  font-size:25px;
  font-weight: bold;
  color: white;
}

/* 과목 버튼 */
.buttonList li {
  position:relative;
}
.buttonList .sideMenu {
  background: #003876;
  border:none;
  width:166px;
  height:40px;
  text-align: left;
  margin:2px;
  padding:10px;
}

/* .buttonList .sideMenu:active{
  background:#FFC240;
  color:#003876;
} */

/* 과목input */
.menuInput {
  background:none;
  border:none;
  font-size:20px;
  font-weight: bold;
  color:white;
  width:130px;
}
.smallSubject{
  background:none;
  border:none;
  font-size:15px;
  font-weight: bold;
  color:#003876;
  width:120px;
  height:30px;
  line-height:30px;
}

/* 메뉴버튼 눌렀을 때 */
/* .buttonList button:focus{
  background:#FFC240;
  color:#003876;

}
.inputFocus{
  color:#003876;
} */
/* childMenu */
.childMenu{
  border:none;
  width:166px;
  height:30px;
  background:#c6def8;
  margin-left:2px;
  padding-left:10px;
  font-weight: bold;
}

.childMenu:hover{
  background: #97c1e8;
  
}
.smallSubject:hover{
  padding: 0px 20px;
}

/*리스트===================================================================*/


#title{
	position:relative;
	left:100px;
display: inline-block;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  font-size: 1.5em;
  margin: 1vh 0;
  text-align: center;
  width: 1100px;
  height: 600px; 
}
#title #thumbBox {
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
}
#title #thumbBox .thumbnail {
  height: 20%;
  width: 50%;
}
#title #container {
  background-color: lightgrey;
  width: 80%;
}
#title #container #mainImage {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 400px) {
  #title #thumbBox {
    width: 100%;
  }
  #title #thumbBox .thumbnail {
    height: 25%;
  }

  #title #container {
    width: 100%;
  }
}