#body-content {
	/* border: 2px solid black; */
}
.Subtitle {
	height : 120px;
	line-height: 120px;
	text-align: center;
}

.job_info-wrapper {
	width : 1100px !important; 
	overflow: auto;
	height: 600px;
	color: black;
	font-size : 15px;
}

.job_info-area {
	width : 1000px;
	height: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	margin: 0 auto;
}

.job_info-area a {
	text-decoration: none;
}

/* ====================================================
   	카드 ui
==================================================== */
.job_info {
    /* 
    display : grid;
    grid-template-columns: 4fr 1fr; */
	grid-gap: 10px;
	width : 150px;
	height : 150px;
	border: 0.5px solid lightgrey;
	overflow : hidden;
	padding: 20px;
}

.job_info:hover,
.job_info:focus {
	border : 2px solid #0067B3;
}

.job_info > div span {
    display: block;
    color: black;
    width : 150px;
    padding: 3px;
}

.info {
	height: 135px;
}

.job_company {
	color : #0067B3 !important;
    font-weight: bold;
    letter-spacing: 1px;
}

.job-viewMore {
	position : relative;
	left: 1000px;
	margine-bottom: 10px;
}

