  /*=====qna 파트==================================================*/
#subTitle {
    margin:30px;
    display: block;
}
#detailTable,#dttb tr,#dttb td{
	border-collapse:collapse; 
	border: 1px solid black;
}
#detailTable{
	 border-top: 3px solid #666666;
	 width: 1000px;
	 margin-top: 20px; margin-bottom: 20px;
	 margin : 0 auto;
}

.basicAswTable,.basicAswTable tr,.basicAswTable td{
	border-collapse:collapse; 
	border: 1px solid black;
}

.basicAswTable{
	 border-top: 3px solid #666666;
	 width: 1000px;
	 margin-top: 20px; margin-bottom: 20px;
	 margin : 0 auto;
}


.comdel {
	right: -1085px;
    top: -25px;
    height: 30px;	
}

.comupdt {
	right: -1020px;
    top: -25px;
    height: 30px;
}

.memid {
	padding : 5px;
}

h1,tr {
	text-align : center;
}


/* =================================== 댓글 css ==================================== */

.commentbody {
	border-radius: 5px;
    width: 1000px;
    
/*     border: 1px solid lightgray;
	box-shadow: 1px 1px 1px 1px lightgray; */
    margin-top:10px;
}
.cntDiv{
	padding-left: 20px;
	margin-bottom:8px;
	font-size:17px;
	text-align : left;
}
textarea {
  float : left;
  width : 800px;
  height : 100px;
  background : #f9f9f9;
  font-size:15px;
  padding-left:30px;
  padding-top:10px;
  resize: none;
}

.commentTable{
    border-collapse: collapse;
    width: 1000px;
    border-bottom: 1px dashed lightgray;
    height: 80px;
}

.commentTable > tr {
    border-collapse: collapse;
    height : 90px
    border-bottom: 1px dashed lightgray;
}

#comminsert{
    bottom: 50px;
	border-radius: 5px;
	cursor: pointer;
	background: #003876;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
	z-index: 1;
	width:80px;
    padding: 6px 20px;
    height: 108px;
	margin:5px;
}
.commentTitle{
	text-align: left;
}
}
.comBtn {
  background : rgb(172, 172, 207);
  border : none;
}
