  /*=====qna 파트==================================================*/
#subTitle {
    text-align:center;
    margin:30px;
    display: block;
}
#detailTable,#detailTable tr,#detailTable td{
	border-collapse:collapse; 
	border: 1px solid black;
}
#detailTable{
	 border-top: 3px solid #666666;
	 width: 1100px;
	
	  text-align: center;
	   margin-top: 20px; margin-bottom: 20px;
}

.basicAswTable,.basicAswTable tr,.basicAswTable td{
	border-collapse:collapse; 
	border: 1px solid black;
}

.basicAswTable{
	 border-top: 3px solid #666666;
	 width: 1100px;
	  text-align: center;
	   margin-top: 20px; margin-bottom: 20px;
}

.thumbvar{
  width : 1162px;
  height: 30px;
  font-family: 'NanumBarunGothic', 'serif';
  background : #003876;
  color:white;
  text-align : center;
  line-height : 30px;
}

.thumbvar p {
  color:white;
  text-align : center;
}

/* 수정,삭제, 목록 버튼 */

.submit button {
  background-color: #F2F2F2;
  border-radius : 10%;
  outline: 0;
  font-size: 15px;
  font-family: 'NanumBarunGothic', 'serif';
  box-shadow: 0px 5px 10px #0057ab;
  transition: all 0.3s;
  cursor: pointer;
  border-bottom: 4px solid #d9d9d9;
  width:60px; height : 30px;
}

.submit button a {
  font-size: 15px;
  font-family: 'NanumBarunGothic', 'serif';
  color : black;
  line-height : 30px;
}
.submit button:hover {
  box-shadow: 0px 15px 25px -5px #0057ab;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.submit button:active {
  box-shadow: 0px 4px 8px #0065c8;
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}


.comdel {
	right: -1085px;
    top: -25px;
    height: 30px;	
}

.comupdt {
	right: -1020px;
    top: -25px;
    height: 30px;
}

.memid {
	padding : 5px;
}


  /*=======================================================*/