  /*=====qna 파트==================================================*/

  #qGride{
    border: 1px solid gainsboro;
    border-top: 3px solid #666666; 
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: 100px 650px 150px;
    grid-template-rows: 100px 400px 40px 30px auto;
    margin-top: 20px; margin-bottom: 20px;
    text-align: center;
  }
  #qGride span{
    float: right;
  }
  .aGride{
    border: 1px solid gainsboro;
    border-top: 3px solid #666666; 
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: 100px 650px 150px;
    grid-template-rows:100px 300px 30px auto;
    text-align: center;
    margin-top: 20px; margin-bottom: 20px;
  }
  div > div{
    width: 100%;
  }
  .qOne{
    grid-column: 1 / 4;
    border-bottom: 1px solid gainsboro;
  }
  #file1{
    grid-column: 1 / 2;
  }
  #file2{
    grid-column: 2 / 4;
  }
  #file1,#file2{
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    line-height: 40px;
  }
  #qColor{
    background-color: rgb(5, 100, 225);
    color: white;
  }
  .aColor{
    background-color:rgb(238, 214, 76);
    color: white;
  }
  .qnaBtn{
    border-style: none;
    background-color: #fff;
    border: 1px solid gainsboro;
    position: relative;
    left: 600px;
    height: 40px;
  }
  .qnaBtn2{
    border-style: none;
    background-color: #fff;
    border: 1px solid gainsboro;
    position: relative;
    width: 42px;
    left: 920px;
    height: 40px;
    margin-left: 5px;
  }
  .writerName{
    background-color: #d0d0d0;
  }
  #qGride div:nth-child(-n+3),.aGride div:nth-child(-n+3){
    line-height: 100px;
    border-bottom: 1px solid gainsboro;

  }
 /*=====댓글파트==================================================*/
 #app1{
   display: none;
 }
#wapper{
	width: 1100px;
    background-color: #f8f8f8;
    margin: 0 auto;
    position: relative;
	left: 20px;
}
#comminsert{width: 35px;position: relative; float:right; margin: 10px; line-height: 40px; width: 50px; height: 40px; border: 1px solid gainsboro; text-align:center;}
#commtextarea{width:1546px; height:100px; resize: none;}
  /*=======================================================*/