
#qnaTable{
margin-top: 30px;
border-top: 2px solid royalblue; 
border-bottom: 2px solid grey;
border-collapse: collapse;
 width: 1100px; 
text-align: center;
margin:0 auto;
}
#qnaTable th{
border-bottom: 2px solid royalblue; 
height: 45px;
}
#qnaTable tr{
border-bottom: 1px solid gainsboro;
}
td{
	height: 36px;
}
.qnapage{
padding: 20px;
margin: 0 auto;
text-align: center;
}
.ayet{
border-radius: 80px;
background-color: rgb(5, 100, 225);
width: 70px;
height: 28px;
line-height: 27px;
color: white;
}
.adone{
border-radius: 80px;
background-color:gold;
width: 70px;
height: 28px;
line-height: 27px;
color: white;
}
tr:not(:first-child):hover {
background-color: aliceblue;
}
th > div{
width: 100%;
height: 25px;

}
th > .sideline{
border-right: 1px solid gray;
}
#qaNo,#qaStatus,#qaWriter,#qaView{
width:8%;
}
#qaTitle{
width: 56%;
}
#qaReg{
width: 10%;
}

/* 첫번째 줄 */
.item{
	box-sizing: border-box;
    height: 200px;
    margin:0 auto;
}
#searchType{
	height:30px;
	position:relative;
 	right:40px; 
 	bottom:10px;
    display: inline;
  /*   visibility: hidden;  */
}
.item > div {
    /* border:2px solid red; */
    margin:10px;
    border-radius: 10px;
}
#subTitle{
    text-align:center;
    font-size: 50px;
    margin:30px;
    display: block;
}
#searchDiv{
	width:1100px;
	margin:0 auto;
}
#listCnt{
  display: inline;
}
/* 두번째줄 */
.item2{
    margin-top:20px;
}
/*===============검색============================*/

.search {
    position: relative;
    left:650px;
    top:50px;
    width: 450px;
    height: 70px;
  }
  /* 검색버튼 동그라미 */
  .search span {
    display: block;
    position: absolute;
    /* 검색버튼 위치 */
    left: 90%;
    top: 30%;
    height: 35px;
    width: 35px;
    border: 4px solid #003876;
    border-radius: 100%;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%) rotate(-36deg);
            transform: translate(-50%, -50%) rotate(-36deg);
    transition: height 0.25s 0.25s ease, border-radius 0.25s 0.25s ease, -webkit-transform 0.25s 0.75s ease;
    transition: transform 0.25s 0.75s ease, height 0.25s 0.25s ease, border-radius 0.25s 0.25s ease;
    transition: transform 0.25s 0.75s ease, height 0.25s 0.25s ease, border-radius 0.25s 0.25s ease, -webkit-transform 0.25s 0.75s ease;
  box-sizing: border-box !important;
  }
  /* 검색버튼 막대기 */
  .search span:after {
    content: "";
    position: inherit;
    top: 28px;
    left: 16px;
    height: 20px;
    width: 6px;
    background:#003876;
    transition: all 0.25s 0.5s ease;
    box-sizing: border-box !important;
  }
  /* 돋보기모양 */
  .search button {
    position: absolute;
    left: calc(100% - 70px - (4px * 2));
    height: calc(100% - (4px * 4));
    width: 40px;
    background: none;
    border: 0;
    border-radius: 70px;
    font-size: 22px;
    /* color: rgb(1, 1, 2); */
    outline: none;
    transition: all 0.25s ease;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box !important;
  }
  .search input {
    width: 80%;
    height: 100%;
    padding: 15px 78px 15px 15px;
    background: none;
    border: 0;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #2196F3;
    outline: none;
    transition: all 0.25s ease;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box !important;
  }
  
  .search.active span {
    height: 400px;
    width:40px;
    border-radius: 50px;
    cursor: initial;
    /* 검색창 위치? */
    -webkit-transform: translate(-500%, -49%) rotate(-90deg);
            transform: translate(-500%, -49%) rotate(-90deg);
    transition: height 0.25s 0.5s ease, border-radius 0.25s 0.5s ease, -webkit-transform 0.25s ease;
    transition: transform 0.25s ease, height 0.25s 0.5s ease, border-radius 0.25s 0.5s ease;
    /* transition: transform 0.25s ease, height 0.25s 0.5s ease, border-radius 0.25s 0.5s ease, -webkit-transform 0.25s ease; */
  box-sizing: border-box !important;
  }
  .search.active span:after {
    height: 0;
    transition-delay: 0.25s;
    box-sizing: border-box !important;
  }
  /* 돋보기 위치 옮기기 */
  .search.active button {
    position: absolute;
    left: calc(100% - 90px - (5px * 2));
    visibility: visible;
    opacity: 1;
    transition-delay: 0.75s;
    box-sizing: border-box !important;
  }
  .search.active input {
    position: relative;
    /* input창 위치 옮기기 */
    right:10px;
    top:-10px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.75s;
     box-sizing: border-box !important;
  }
/* 목록버튼 =====================================================*/
.button {
font-size: 5vw;
border: none;
background-color: #ebebf0;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
  user-select: none;
position: relative;
/* 버튼 위치 옮기기 */
left:1100px;
top:20px;
z-index: 1;
padding: 0;
}
@media (min-width: 14px) {
.button {
font-size: 15px;
} 
} 
.button:before {
content: "";
position: absolute;
z-index: -1;
width: 10px;
right: 0;
top: 0;
bottom: 0;
background-color: rgba(152, 152, 155, 0.2);
transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
transition: transform 0.4s cubic-bezier(0, 0.9, 0.13, 0.9);
transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
-webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}
.button:after {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background-color: #ebebf0;
z-index: -1;
}
.button:hover:before, .button:focus:before {
-webkit-transform: translate3D(4px, 0, 0);
  transform: translate3D(4px, 0, 0);
}
.button:active:before {
-webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}
.button:focus, .button:active {
outline: none;
}
.button .button__inner {
line-height: 10px;
text-transform: uppercase;
letter-spacing: 0.15em;
color: #333;
padding: 0.7em 0.7em;
background-color: #95cdfc;
display: block;
width: 100%;
height: 10px;
transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
position: relative;
}
.button:hover .button__inner, .button:focus .button__inner {
-webkit-transform: translate3D(0, -5px, 0);
  transform: translate3D(0, -5px, 0);
background-color: #a9ceec;
}
.button:active .button__inner {
-webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}