    #qGride{
      border: 1px solid gainsboro;
      border-top: 3px solid #666666; 
      margin: 0 auto;
      width: 900px;
      display: grid;
      grid-template-columns: 100px 650px 150px;
      grid-template-rows: 100px auto auto auto;
      margin-top: 20px; margin-bottom: 20px;
      text-align: center;
    }
    #qGride span{
      float: right;
    }

    .qOne{
      grid-column: 1 / 4;
      min-height: 400px;
      border-bottom: 1px dashed #d0d0d0;
    }
    #imgPreView{
        border-top: 1px solid gainsboro;
        grid-column: 1 / 4;
    }
    #file1{
      grid-column: 1 / 2;
      min-height: 48px;
    }
    .filebox{
      grid-column: 2 / 4;
    }
    #qColor{
      background-color: rgb(8, 117, 117);
      color: white;
    }
    
    .writerName{
        line-height: 100px;
      background-color: #d0d0d0;
    }
    #qColor{
      line-height: 100px;
      border-bottom: 1px solid gainsboro;

    }
    #bottomBtn {
      width: 1000px;
    }
    
	.submitBtn, .delBtn {
		position: relative;
		left : 480px;
    }

    #qTextarea {
        resize: none;
        width: 100%;
        height: 400px;
 }
 #aTitle{
     position: relative;
     top: -2px;
      width: 100%;
      height: 99px;
      background-color:  #F4F5F7;
      border: none;
    }


    .upload-thumb{ 
        /* 추가될 이미지 */ 
        display: inline-block;
        width: 600px;
        height: 200px;
    }
