#detailTable,#detailTable tr,#detailTable td{
    margin:0 auto;
    border-collapse: collapse;
}
#detailTable{
 	width:1100px;
	margin-top: 50px;
	border-bottom:1px solid lightgray; 
 }
 #writer{
 display: inline-block;
 padding-right : 30px;
 margin-right:30px;
 border-right: 1px solid lightgray;
 padding-left: 20px;
 }
.tFile{
	float: right;
	text-align: right;
	line-height: 60px;
}
.tTitle{
	height:60px;
	border-top:1px solid gray; 
	border-bottom:1px solid lightgray; 
}
#title{
	font-size: 25px;	
	padding-left:20px;
}
.writeAndFile{
	font-size:13px;
	height:50px;
}
#tContent,.content{
	text-align:center;
	margin: 0 auto;
}
.content{
	margin: 40px 0;
}

/* 목록 */
.list{
	width:1100px;
 	margin:0 auto;
    height: 30px;
    margin-top:10px;
    margin-bottom: 20px;
}
#listMoveBtn{
	position: relative;
	left: 1000px;
}
#nextTable{
	width:1100px;
	border-top: 1px solid lightgray; 
	border-bottom:1px solid lightgray; 
}
.nextTableMiddle{
	border-bottom:1px solid lightgray; 
}

#nextTable, #nextTable tr th,#nextTable tr td{
	line-height: 50px;
}
 