#loginBtn {
    width: 100px;
    height: 20px;
    margin: 0 auto;
    background: #003876;
    color: white;
    border: none;
    border-radius: 5px;
}


.content {
    width: 300px;
    height: 300px;
}
.hide {
    display: none;
}