.clickpj {
	font-weight: bold;
    color: white;
    background: darkblue;
}

#body-content {
 min-height : 800px;
}	


.inputtodocss {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

#idjumbotron {
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

.jumbotron {
border-top-left-radius: 30px;
border-top-right-radius: 30px;
margin-top: 20px;
margin-bottom: 10px;
text-align: center;
padding: 50px;
font-family: 'NanumBarunGothic', 'serif';
background : #F2F2F2;
}

span {
cursor: pointer;
}

span:hover {
background:#FFC240;
}

.todo {
	width: 1200px;
	margin-top: 40px;
}

.todotodo {
width : 600px; height: 900px;
float: right;
font-family: 'NanumBarunGothic', 'serif';
}

table {
width : 540px; height: 180px;
font-family: 'NanumBarunGothic', 'serif';
}

.thclass {
text-align: center;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
width : 600px; height: 180px;
padding : 10px;
color : darkblue;
font-size: 35px;
background: #F2F2F2;
font-family: 'NanumBarunGothic', 'serif';
}


.td {
padding : 10px;
border : 3px solid white;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
width : 600px; height: 50px;
background-color: rgb(244, 245, 247);
text-align: center;
font-size: 18px;
font-family: 'NanumBarunGothic', 'serif';
}

.td:hover, .td.select {
background-color : rgba(0,0,0,0.8);
color: white;
}

.yeoback {
height: 65px;
}

/*상단 여백*/
.yeoback2 {
height: 15px;
}

.todotitle {
top : 10px;
border : 1px solid rgb(244, 245, 247);
width : 500px; height: 50px;
font-size: 20px;
 font-family: 'NanumBarunGothic', 'serif';
}

.lead {
font-size : 35px;
padding : -4px;
}

.list-group>li:hover {
background : #FFC240;
}

.trtitle {
color : rgb(5, 100, 225);
font-size : 20px;
 font-family: 'NanumBarunGothic', 'serif';
}

.dead-line {
position: absolute;
right : 185px; height: 30px;
line-height: 30px;
}

.inputtitle {
width : 350px; 
height: 47px; 
padding-left: 10px; 
text-align : center;
border-radius : 30px;
font-size: 24px;
}

/* 체크박스 */
.checktodo {
position: absolute;
right : 69px; height: 30px;
line-height: 30px;
}

.checktodo [name^='check']  {
	background : black;
	display: none;
}

.checktodo [name^='check'] + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid #000;
  font-size: 20px;    
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

.checktodo > [name^='check']:checked + label:before {
  color: #0067B3;
}


#toDate {
  width : 98px;
}


/* Style buttons */
.btn2 {
  border : none;
  background-color: white;
  color: #0067B3; 
  font-size: 20px; /* Set a font size */
  border-radius : 10%;
  cursor: pointer; /* Mouse pointer on hover */
  float : right;
  left : 6px;
}


.btn2:hover {
  color : #FFC240;
}

#ui-datepicker-div {
	width: 400px;
	padding: .2em .2em 0;
	display : none;
}

.ui-datepicker th {
	height : 5px;
}

.ui-datepicker-calendar > thead > tr > th {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-datepicker-trigger {
	background-image: <c:url value="/resources/user/images/calendar.png"/>;
}


.badge:hover {
	background :#003876;
}

.fa {
	font-weight: 1000;
}

.pjNull {
    display: block;
    height: 140px; 
    font-family: 'NanumBarunGothic', 'serif';
    border-radius: 20px;
    padding: 15px;
    box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.4);
}

.pjNull td {
    font-size: 20px;
    width: 800px;
    text-align: center;
    padding-top: 20px;
}

.emoji {
    height: 200px;
	background-image: <c:url value="/resources/user/images/logo.png"/>;
}

.emojiIcon > img {
    height: 200px;
    padding-top: 40px;
    padding-left: 200px;
}

label {
	margin: 0 10px 10px 0px !important;
}

/*todo리스트 */
.list-group {
	overflow: auto !important;
    height: 600px !important;
}


/*프로젝트 리스트*/
.todotodolist {
width : 600px; height: 890px;
float: left;
overflow: auto !important;
box-sizing: border-box;
font-family: 'NanumBarunGothic', 'serif';
}
