.page {
    box-sizing:border-box;
    line-height:35px;
    text-align: center;
}
.page > div {
    display:inline-block;
    margin: 10px 0px 0px 0px;
    height:80%;
    width: 35px;
    border: 1px solid #003876;
    box-shadow: 1px 1px  gray;
}
.prev , .next{
    background:#FFC240;
    width:40px;
    border:#FFC240;
    font-weight:bold;
}
.next>a{
	border:#FFC240;
}
.page > div:hover,
.page > div.active,
.page > div:hover a,
.page > div.active a,
.page > div a:hover,
.page > div a.active {
    background-color:#003876;
    font-weight:bold;
    color:white;
}

.page > div > a {
    text-decoration: none;
    display:inline-block;
    color:black;
}
/* .page > div:hover > a {
    color: white;
    font-weight:bold;
} */
/* .page > div > a:hover {
    color:white;
} */



  /* 누르면 맨위로 올라가기 */
  html {
    scroll-behavior: smooth;
  }
#position1 {
    position:fixed;
    bottom:70px;
    right:30px;
    
}
#position1 > a{
    font-size:35px;
    text-decoration: none;
    cursor: pointer;
}
#position1 > a > .fas {
    color:#0080ff2367816;
}
#position2 {
    position:fixed;
    bottom:30px;
    right:30px;
 
}
#position2 > a{
    font-size:35px;
    text-decoration: none;
    cursor: pointer;
}
#position2 > a > .fas {
    color:#0080ff2367816;
}
