<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        main {
            margin: 0 auto;
            width: 1024px;
            background: rgb(229, 231, 233);
        }
        #editorjs {
        border:1px solid blue;
            margin: 0 auto 50px;;
            background: white;
            width: 90%;
            padding-bottom: 50px;
        }
        .codex-editor__redactor {
            padding-bottom: 0px !important;
        }
        .btn-area {
            text-align: right;
            padding: 0 10px 10px 0;
        }
        button {
            width: 80px;
            border: 1px solid skyblue;
            background: #381212;
            color: whitesmoke;
            font-size: 14px;
            padding: 5px;
            box-shadow: 1px 1px 1px 1px #abc;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/raw@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script>


    <script src="jquery-3.3.1.js" ></script>
</head>
<body>
        <h1>오늘의 할일</h1>
        <input type="text" name="title" id="title">
        <input type="text" name="comtent" id="content">
        <div id="editorjs">
        </div>
        
        <div class="btn-area">
            <button>저장</button>
        </div>

    <script>

        function data() {
        	$.ajax({
  	  	         url: "/flyingturtle/user/video/videolist.do",
  	  	      success : function(video){
  	  	    	EditorJS.data = video[0].videoAddr;
  	        	}
  	       });
		}
        
        const editor = new EditorJS({
            holderId: 'editorjs',
            autofocus: true,
            tools: { 
                embed: {
                    class: Embed,
                    config: {
                        services: {
                            youtube: true,
                        }    
                    }
                }
            }
        });

        $(function () {
        	data();});
        
        let saveBtn = document.querySelector("button");
        saveBtn.addEventListener("click", function () {
            console.dir(editor)
            
            editor.save().then((outputData) => {
						var title = $("#title").val();
						var content = $("#content").val();
                $.ajax({
       	       	 type:'POST',
       	         url: "/flyingturtle/user/video/videowrite.do",
       	       	 dataType : "json",
       	       	 data: {"videoAddr":JSON.stringify(outputData),"title":title,"content":content}
       	   		 });
                
            }
        ).catch((error) => {
                console.log("Saving failed : ", error);
            });
        });
        
        /*초기 화면에 리스트 뿌려주기*/
//         $(function(){
            
//             getList();
            
//         });
        
        /*리스트 가져오기*/
//  function getList(){
    	    
//     	    $.ajax({
//     	        type:'GET',
//     	        url : "<c:url value='commentlist.do'/>",
//     	        dataType : "json",
//     	        data:$("#commentForm").serialize(),
//     	        contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
//     	        success : function(commentLista){
    	            
//     	            var html = "";
//     	            var cCnt = commentLista.length;
    	            
//     	            if(commentLista.length > 0){
    	                
//     	                for(i=0; i<commentLista.length; i++){
//     	                	console.log(commentLista[i].comNo);
// html += `<div id="`+commentLista[i].comNo+`"><div><table>`+commentLista[i].memberNo+` `+commentLista[i].content+`<a onclick="commentdelete('`+commentLista[i].comNo+`');">삭제</a><a onclick="commentupdateform('`+commentLista[i].comNo+`');">수정</a></table></div></div>`;
//     	                }
    	                
//     	            } else {
    	                
//     	                html += "<div>";
//     	                html += "<div><table class='table'><h6><strong>등록된 댓글이 없습니다.</strong></h6>";
//     	                html += "</table></div>";
//     	                html += "</div>";
    	                
//     	            }
    	            
//     	            $("#cCnt").html(cCnt);
//     	            $("#commentList").html(html);
    	            
//     	        }
    	        
//     	    });
//     	}     
        
        
        
    </script>
</body>
</html>
