.easeOutExpoFast, a, a:hover, .videoCover, .videoCover div, .videoCover svg, .videoCover div:hover svg, .stepCover button, .stepCover button:hover, .opener .inners button, .opener .inners button:hover, .step:hover, .step button, .step button:hover, .step .details ul .copyLi, .step .details ul .copyLi:hover, .step5 button:hover, .backRow, .backRow svg, .backRow:hover {
  -webkit-transition: all 230ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 230ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 230ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 230ms cubic-bezier(0.19, 1, 0.22, 1);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  justify-content: center;
  display: flex;
  height: 100vh;
  color: #20455E;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
*/

a {
  color: #3899ec;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  color: #4EB7F5;
}

strong {
  font-weight: 500;
}

.componentWrapp {
  width: 1164px;
  height: 425px;
  position: relative;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 1px 3px 0 rgba(22, 45, 61, 0.12), 0 6px 12px 0 rgba(22, 45, 61, 0.1);
}

.videoWrapp {
  width: 756px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.videoCover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(22, 45, 61, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videoCover div {
  cursor: pointer;
}
.videoCover svg {
  margin: 25px 0 6px 0;
}
.videoCover p {
  color: white;
  text-shadow: 0 1px 4px rgba(22, 45, 61, 0.68);
}

.videoCover div:hover svg {
  transform: scale(1.1);
}

.videoCoverEnd {
  opacity: 0;
  display: none;
}

.stepCover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(22, 45, 61, 0.86);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0;
  padding: 0 84px 0 84px;
  display: none;
}
.stepCover h3 {
  font-size: 36px;
  letter-spacing: 0.72px;
  color: white;
  font-weight: 300;
  margin: 0 0 0px 0;
}
.stepCover h3 b {
  opacity: 0.7;
}
.stepCover hr {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin: 24px 0;
  border: none;
}
.stepCover p {
  color: white;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  margin: 0 0 24px 0;
}
.stepCover .actionRow {
  display: inline-flex;
}
.stepCover button:first-child {
  margin: 0 12px 0 0;
}
.stepCover button {
  border: 0;
  background: #3899ec;
  height: 42px;
  padding: 0 30px;
  border-radius: 30em;
  font-size: 16px;
  color: white;
  font-weight: 400;
  outline: 0;
  display: flex;
  align-items: center;
}
.stepCover button:hover {
  background: #4EB7F5;
  cursor: pointer;
}
.stepCover button svg {
  margin: 2px 0 0 9px;
  width: 12px;
}
.stepCover .hollow {
  background: transparent;
  border: 1px solid white;
}
.stepCover .hollow:hover {
  background: #3899ec;
  border: 1px solid #3899ec;
}
.stepCover .hollow svg {
  width: 15px;
}

.timelineWrapp {
  width: 408px;
  height: 100%;
  border-right: 1px solid #DFE5EB;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.opener {
  height: 100%;
  width: 100%;
  padding: 36px;
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
}
.opener .inners {
  height: auto;
  width: 100%;
  display: block;
}
.opener .inners h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 24px 0;
}
.opener .inners p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 36px 0;
}
.opener .inners button {
  border: 0;
  background: #3899ec;
  height: 42px;
  padding: 0 30px;
  border-radius: 30em;
  font-size: 16px;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  outline: 0;
}
.opener .inners button:hover {
  background: #4EB7F5;
  cursor: pointer;
}
.opener .inners button svg {
  margin: 0 0 0 9px;
}

.fader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  display: none;
}

.stepsWrapp {
  width: 408px;
  height: auto;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  left: 0;
  background: #f9f9f9;
  transform: translatex(408px);
  padding: 18px 18px;
}

.step {
  z-index: 99991;
  border: 1px solid rgba(78, 183, 245, 0);
  border-radius: 4px;
  height: 389px;
  position: relative;
}
.step:after {
  content: '';
  position: absolute;
  top: 54px;
  left: 39px;
  height: auto;
  bottom: 0;
  z-index: -1;
  width: 1px;
  background: #DFE5EB;
}
.step button {
  border: 0;
  background: #3899ec;
  height: 42px;
  padding: 0 30px;
  margin: 18px 0 0 0;
  border-radius: 30em;
  font-size: 16px;
  color: white;
  font-weight: 400;
  outline: 0;
}
.step button:hover {
  background: #4EB7F5;
  cursor: pointer;
}
.step button svg {
  margin: 0 0 0 6px;
}
.step .title {
  margin: 0 0 30px 0;
  padding: 18px;
  display: flex;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(22, 45, 61, 0.12), 0 6px 12px 0 rgba(22, 45, 61, 0.1);
  border-radius: 4px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.step .title h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.step .details {
  margin: 0 0px 0 36px;
}

.step .details p {
  background: rgb(217, 227, 235);
  border-radius: 10%;
  height: 240px; 
  right : -100px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;

}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 30em;
  border: 1px solid #3899ec;
  background: white;
  margin: 0 12px 0 0;
  box-shadow: 0 0 12px 0 rgba(78, 183, 245, 0.25);
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
}

.icon span {
  position: absolute;
  top: auto;
  bottom: auto;
  margin: 1px auto auto auto;
  font-size: 15px;
  font-weight: 700;
  vertical-align: middle;
  left: 0;
  width: 100%;
  text-align: center;
  right: 0;
}

.icon span sup {
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
  transform: translatey(3px);
  vertical-align: super;
  color: #7A92A5;
}

.step:nth-child(5):after {
  opacity: 0;
}

.stepsWrapp::-webkit-scrollbar {
  width: 6px;
  padding: 0 20px 0 0;
}

.stepsWrapp::-webkit-scrollbar-thumb {
  background: rgba(78, 183, 245, 0.7);
  border-radius: 20px;
}

.stepsWrapp::-webkit-scrollbar-track {
  background: tranparent;
  border-radius: 20px;
}

.counter {
  position: absolute;
  top: 30px;
  right: 30px;
  box-shadow: 0 2px 12px 0 rgba(22, 45, 61, 0.15);
  height: 54px;
  width: 54px;
  background: rgba(22, 45, 61, 0.86);
  border-radius: 100em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.counter p {
  position: absolute;
  margin: auto auto auto auto;
  color: white;
  font-weight: 700;
  font-size: 16px;
  display: block;
}
.counter p small {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.counter1 {
  opacity: 0;
}

.step5 {
  height: 100%;
  background: white;
  margin: 0 -18px -18px -18px;
  position: relative;
}
.step5 .closure {
  border-top: 1px solid #DFE5EB;
  height: 85%;
  background: white;
  padding: 0 42px;
  box-shadow: 0 -6px 30px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.step5 h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 24px 0;
}
.step5 p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 36px 0;
}
.step5 button {
  border: 0;
  background: #3899ec;
  height: 42px;
  margin: 0;
  padding: 0 30px;
  border-radius: 30em;
  font-size: 16px;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  outline: 0;
}
.step5 button:hover {
  background: #4EB7F5;
  cursor: pointer;
}

.backRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #f9f9f9;
  height: 96px;
  color: #3899ec;
}
.backRow svg {
  margin: 0 0 9px 0;
}

.backRow:hover {
  color: #4EB7F5;
  cursor: pointer;
}

#arrowUp {
  stroke: currentcolor;
}

/* =================================== 댓글 css ==================================== */

.commentbody {
  width : 1162px;
  border : 1px solid black;
  margin: 0px;
  height: 500px;
  bottom : 10px;
}

article > p > textarea {
  width : 900px;
  height : 100px;
  
}

.comBtn {
  background : rgb(172, 172, 207);
  border : none;
}

.aTextarea {
  width : 1100px;
  height : 100px;
}

.qnaBtn {
  width : 150px;
  padding : 10px;
  margin : 10px;
  left : -50px;
  background: #003876;
  color : white;
  border :None;
}

.aGride {
  background : yellowgreen;
  width : 100%;
  margin : 10px;
  padding : 10px;
}


/* 목록 썸네일 */

.thumbody{
  background: rgb(191, 205, 216);
  width : 1162px;
  height: 200px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
}


.item {
  border : 1px solib blue;
  background-color: #80cbc4;
  border: 1px solid #fff;
  font-size: 20px;
  text-align: center;
}



/* 과목 메뉴 고정*/
.top_bar_fix{position:fixed; top:0; left:0; width:100%;}
.pd_top_80{padding-top:80px;}


.submit {
  text-align: center;
  border : 1px solid black;
  height: 50px;
  line-height: 50px;
}