.myHead {
	border-top: 2px solid #003876;
    border-bottom: 2px solid #003876;
}

.thumb {
    width: 70px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-size: cover;
}
.table > tbody > tr > td {
     vertical-align: middle;
}

.video_box {
    width: 100%;
    background: rgba(0, 0, 0, 0.54);
    top: 0px;
    left: 0;
    height: 100%;
    position: fixed;
    z-index: 555;
    display: none;
}
.video_inner{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 430px;
   height: 280px;
   background: #fff;
    padding: 15px;

}
.modal-close {
    position: absolute;
    top: 0;
    z-index: 5;
    background: #d64a4a;
    padding: 0px 11px;
    color: #fff;
    font-size: 34px;
    line-height: normal;
    right: -42px;
    cursor: pointer;
}
.video_body{
   width: 520px;
   height: 250px;
}
/* 비디오 리스트 ======================================================여기 리스트박스 */
.listbody {
	top : 160px;
	width: 930px;
	position: absolute;
    left: 440px;
}

/* 왼쪽 과목버튼리스트 =============================================여기 메뉴바*/
.buttonList{
top: 196px;
position: absolute;
float: left;
width: 170px;
overflow-y: auto;
height: 600px;
}
/* 과목 추가 버튼 */

#addButton{
  padding-left:10px;
}
#addButton:hover{
  cursor: pointer;
}
/* 소과목 */
.ddBtn {
  width:38px;
  height:40px;
  padding:10px;
  position: absolute;
  right:0;
  top:0;
  cursor: pointer;
  font-size:25px;
  font-weight: bold;
  color:white;
}

/* 과목 버튼 */
.buttonList li{
  position:relative;
}
.buttonList .sideMenu{

  background: #003876;
  border:none;
  width:166px;
  height:40px;
  text-align: left;
  margin:2px;
  padding:10px;
}
/* .buttonList .sideMenu:active{
  background:#FFC240;
  color:#003876;
} */
/* 과목input */
.menuInput{
  background:none;
  border:none;
  font-size:20px;
  font-weight: bold;
  color:white;
  width:130px;
}
.smallSubject{
  background:none;
  border:none;
  font-size:10px;
  font-weight: bold;
  color:#003876;
  width:100px;
}

/* 메뉴버튼 눌렀을 때 */
/* .buttonList button:focus{
  background:#FFC240;
  color:#003876;

}
.inputFocus{
  color:#003876;
} */
/* childMenu */
.childMenu{
  border:none;
  width:166px;
  height:30px;
  background:lightgray;
  margin-left:2px;
  padding-left:30px;
  font-weight: bold;
}
.childMenu:hover{
  color:#003876;
  background: #FFC240;
/*   padding: 0px 40px; */
}

/* 내용 큰상자? */
.box{
	width:1300px;
	margin:0 auto;
}
.removeBtn{
	position:relative;
	font-size:30px;
	right:40px;
	width:10px;
	height:10px;
	padding:10px;
}

/* 내용 */
.content{
    display:inline-block;
    width:1100px;
    height:600px;
    overflow-y: auto;
    margin:5px;
    border : 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    margin:0 auto;
}


/* 누르면 맨위로 올라가기 */
/* 위아래 스크롤 버튼*/
#position1 {
  /* display: none; */
  position:fixed;
  bottom:70px;
  right:30px;
}
#position1 > a{
  font-size:35px;
  text-decoration: none;
  cursor: pointer;
}
#position1 > a > .fas {
  color:#003876;
}
#position2 {
  position:fixed;
  bottom:30px;
  right:30px;

}
#position2 > a{
  font-size:35px;
  text-decoration: none;
  cursor: pointer;
}
#position2 > a > .fas {
  color:#003876;
}

ul {
  list-style:none;
}

#music {
	margin-top: 70px;
	width: 850px;
}

.video__body {
	width: 1100px;
	height : 520px;
}

/*등록버튼*/
.write{
/* 	width : 80px; */
	border-radius: 5px;
    border: 1px solid #003876;
    cursor: pointer;
    background: #003876;
    padding: 6px 20px;
    height: 30px;
    color: white;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 1;
}

/*등록버튼*/
.submit {
	width : 80px;
	right: 300px;
    position: absolute;
    top: 700px;
}