.myHead {
	border-top: 2px solid #003876;
    border-bottom: 2px solid #003876;
}

.thumb {
    width: 70px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-size: cover;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.form-control {
    padding: 6px 5px;
}

.video_box {
    width: 100%;
    background: rgba(0, 0, 0, 0.54);
    top: 0px;
    left: 0;
    height: 100%;
    position: fixed;
    z-index: 555;
    display: none;
}
.video_inner{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 430px;
   height: 280px;
   background: #fff;
    padding: 15px;

}
.modal-close {
    position: absolute;
    top: 0;
    z-index: 5;
    background: #d64a4a;
    padding: 0px 11px;
    color: #fff;
    font-size: 34px;
    line-height: normal;
    right: -42px;
    cursor: pointer;
}
.video_body{
   width: 520px;
   height: 250px;
}
/* 비디오 리스트 ======================================================여기 리스트박스 */
.listbody {
	top : 160px;
	width: 930px;
	position: absolute;
    left: 440px;
}

/* ===========================================
	과목 사이드메뉴
=========================================== */
.box {
	width: 1200px;
	margin: 0 auto;
}

/* 스크롤 안보이게 */
/* ::-webkit-scrollbar {
	display: none;
} */

/* 인풋박스 클릭 시 파란색 테두리 없애기  */
input:focus {
	outline: none;
}
.box > .plusminus { margin-top: 100px; }

/* 왼쪽 과목 리스트 */
.buttonList {
    width: 170px;
    height: 600px;
    overflow-y: auto;
    display: inline-block;
    box-sizing: border-box !important;
}

/* 과목 추가 버튼 */
#addButton {
	padding-left: 10px;
}

#addButton:hover , #minusButton:hover{
	cursor: pointer;
}

/* 과목 버튼 */
.buttonList>li {
  	position: relative;
}

.buttonList .sideMenu {
	width: 145px;
	height: 40px;
	line-height:20px;
	margin: 2px;
	padding: 10px;
  	background: #003876;
}

/* 과목input */
.menuInput {
	color: white;
	width: 130px;
	height:30px;
	border: none;
	font-size: 20px;
	background: none;
	font-weight: bold;
	position:relative;
	bottom: 7px;
}

.smallSubject {
	border: none;
	width: 110px;
	height: 40px;
	color: #003876;
	font-size: 12px;
	background: none;
	font-weight: bold;
	line-height: 30px;
}
.go {
	font-size:12px;
	position:relative;
	right: 15px;
	padding: 9px 5px;
	cursor:pointer;
}
.removeBtn {
	padding: 10px 0px;
    position: relative;
    right: 10px;
    cursor:pointer;
}

/* 내용 큰상자? */
.box{
	width:1200px;
	margin:0 auto;
}

/* 내용 */
.content {
	margin: 5px;
	width: 1000px;
	height:530px;
	margin: 0 auto;
	overflow-y: auto;
	background: white;
	border-radius: 5px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 1px 1px lightgray;
}


/* 누르면 맨위로 올라가기 */
/* 위아래 스크롤 버튼*/
#position1 {
  /* display: none; */
  position:fixed;
  bottom:70px;
  right:30px;
}
#position1 > a{
  font-size:35px;
  text-decoration: none;
  cursor: pointer;
}
#position1 > a > .fas {
  color:#003876;
}
#position2 {
  position:fixed;
  bottom:30px;
  right:30px;

}
#position2 > a{
  font-size:35px;
  text-decoration: none;
  cursor: pointer;
}
#position2 > a > .fas {
  color:#003876;
}

ul {
  list-style:none;
}

#music {
	margin-top: 90px;
	width: 850px;
    margin-left: 50px;
}
.col-sm-4{
	padding-top: 40px;
}
.video__body {
	width: 1100px;
	height : 520px;
}

/*등록버튼*/
.write{
/* 	width : 80px; */
	border-radius: 5px;
    border: 1px solid #003876;
    cursor: pointer;
    background: #003876;
    padding: 6px 20px;
    height: 30px;
    color: white;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 1;
}

/*등록버튼*/
.submit {
	width: 80px;
	left:1050px;
    /* right: 150px; */
    position: relative;
    top: 20px;
}

::-webkit-scrollbar {
	display: none;
} 