html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  justify-content: center;
  display: flex;
  height: 100vh;
  color: #20455E;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
*/

a:hover {
  color: #4EB7F5;
}

strong {
  font-weight: 500;
}

.componentWrapp {
  width: 1164px;
  height: 425px;
  position: relative;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 1px 3px 0 rgba(22, 45, 61, 0.12), 0 6px 12px 0 rgba(22, 45, 61, 0.1);
}

.videoCover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(22, 45, 61, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videoCover div {
  cursor: pointer;
}
.videoCover svg {
  margin: 25px 0 6px 0;
}
.videoCover p {
  color: white;
  text-shadow: 0 1px 4px rgba(22, 45, 61, 0.68);
}

.videoCover div:hover svg {
  transform: scale(1.1);
}

.videoCoverEnd {
  opacity: 0;
  display: none;
}

.stepCover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(22, 45, 61, 0.86);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0;
  padding: 0 84px 0 84px;
  display: none;
}
.stepCover h3 {
  font-size: 36px;
  letter-spacing: 0.72px;
  color: white;
  font-weight: 300;
  margin: 0 0 0px 0;
}
.stepCover h3 b {
  opacity: 0.7;
}
.stepCover hr {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin: 24px 0;
  border: none;
}
.stepCover p {
  color: white;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  margin: 0 0 24px 0;
}
.stepCover .actionRow {
  display: inline-flex;
}
.stepCover button:first-child {
  margin: 0 12px 0 0;
}
.stepCover button {
  border: 0;
  background: #3899ec;
  height: 42px;
  padding: 0 30px;
  border-radius: 30em;
  font-size: 16px;
  color: white;
  font-weight: 400;
  outline: 0;
  display: flex;
  align-items: center;
}
.stepCover button:hover {
  background: #4EB7F5;
  cursor: pointer;
}
.stepCover button svg {
  margin: 2px 0 0 9px;
  width: 12px;
}
.stepCover .hollow {
  background: transparent;
  border: 1px solid white;
}
.stepCover .hollow:hover {
  background: #3899ec;
  border: 1px solid #3899ec;
}
.stepCover .hollow svg {
  width: 15px;
}

.timelineWrapp {
  width: 408px;
  height: 100%;
  border-right: 1px solid #DFE5EB;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.fader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  display: none;
}


.counter {
  position: absolute;
  top: 30px;
  right: 30px;
  box-shadow: 0 2px 12px 0 rgba(22, 45, 61, 0.15);
  height: 54px;
  width: 54px;
  background: rgba(22, 45, 61, 0.86);
  border-radius: 100em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.counter p {
  position: absolute;
  margin: auto auto auto auto;
  color: white;
  font-weight: 700;
  font-size: 16px;
  display: block;
}
.counter p small {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.counter1 {
  opacity: 0;
}


.backRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #f9f9f9;
  height: 96px;
  color: #3899ec;
}
.backRow svg {
  margin: 0 0 9px 0;
}

.backRow:hover {
  color: #4EB7F5;
  cursor: pointer;
}

#arrowUp {
  stroke: currentcolor;
}


/* 과목 메뉴 고정*/
.top_bar_fix{position:fixed; top:0; left:0; width:100%;}
.pd_top_80{padding-top:80px;}

        #editorjs {
            margin: 0;
            width: 100%;
            height: 400px;
            border-style: none;
        }
        .codex-editor__redactor {
        height:500px;
            padding-bottom: 10px !important;
        }
        
#videoForm,#title,#content{
	display: inline-block;
}
#videoForm{
	background-color:#fff;
	width: 534px;
	height: 500px;
}
.videoWrapp {
	background-color:#fff;
  width: 700px;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin:0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #F2F2F2;
}
#resetbtn{
	position:relative;
	top:0px;
	left:600px;
	height: 25px;
	width: 100%;
	
}
        .codex-editor__redactor {
            padding-bottom: 0px !important;
        }
        .btn-area {
        position:relative;
        left: 1220px;
        top:-70px;
            text-align: right;
            padding: 0 10px 10px 0;
        }
        button {
            width: 80px;
            border: 1px solid skyblue;
            font-size: 14px;
            padding: 5px;
        }
        
        #title,#content{
        	border-style: none;
        	background-color: #F4F5F7;
        }
        
        
.embed-tool {
  &--loading {

    ^&__caption {
      display: none;
    }

    ^&__preloader {
      display: block;
    }

    ^&__content {
      display: none;
    }
  }

  &__preloader {
    display: none;
    position: relative;
    height: 200px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e6e9eb;

    &::before {
      content: '';
      position: absolute;
      z-index: 3;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -25px;
      margin-left: -15px;
      border-radius: 50%;
      border: 2px solid #cdd1e0;
      border-top-color: #388ae5;
      box-sizing: border-box;
      animation: embed-preloader-spin 2s infinite linear;
    }
  }

  &__url {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 250px;
    color: #7b7e89;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__caption {
    margin-top: 7px;
  }
}

@keyframes embed-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}