.memo-wrapper {
	margin-top: 50px;
	user-select: none;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

/* ==========================================
	상단 버튼
=========================================== */
.topBtn-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 50px;
	position: relative;
	background: #003876;
/* 	border: 0.1px solid lightgrey; */
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	
}
.topBtn-wrap > div {
	padding: 10px;
}

.plusminus { text-align: left; }

/* 과목 저장/메모 추가 버튼  */
.memoBtns {
	width: 165px !important;
	position:absolute;
	right: 0px;
}
.submitBtn {
	display: inline-block;
	width: 150px;
	height: 35px;
	background: white;
	color: #003876;
}
.fas {
	color: white;
}

/* ==========================================
	과목 + 메모장 wrapper
=========================================== */
.content-wrap {
	display: grid;
	grid-template-columns: 1fr 4fr;
	width: 100%;
	min-height: 600px;
	border: 0.1px solid lightgrey;
}
.content-wrap > div {
	box-sizing: border-box;
}

/* ==========================================
	좌측 과목
=========================================== */
.subject-wrap {
	width: 100%;
	height: 600px;
	overflow-y: scroll;
	box-sizing: border-box;
	
	position: relative;
	margin-bottom: 20px;
}

.subject-list {
	padding: 10px;
}
/* 과목 div */
.subject-list > div {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin: 5px 3px;
}
.subject-list > div > div {
	display: inline-block;
}

input[type=checkbox] {
	width: 30px;
	height: 30px;
}

/* 과목 */
.label-subject {
    display: inline-block;
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #003876;
    cursor : pointer;

    background: white;
    color: #003876;
}
/* 과목 클릭하면^_^ */
.clicked-sbj {
	background: #003876;
	color: white;
}

/* 
.emptySbj {
	width: 250px; height: 50px;
	line-height: 120px;
	margin : 0 auto;
}
input[type=radio] {
	display: none;
}
.newSave {
	background: red;
	border-radius : 0px 10px 10px 0px;
}
*/

/* ==========================================
	메모 wrapper
=========================================== */

#stickyContainer {
	width: 100%; 
	height: 100%;
	border: 1px solid lightgrey;
	border-left: 5px solid #003876;
}

#memoContainer {
	width: 100%; height: 618px;
	overflow-y:auto;
	box-sizing: border-box;	
}



/* ==========================================
	메모
=========================================== */
.stickyEdit {
	box-sizing: border-box;
	min-height: 200px;
	padding: 20px;
}

.stickyNote .stickyBar {
	position: relative;
}

.stickyNote {
	width: 100%; 
	min-height: 100px;
	transition: .5s height;
	background: white;
	box-sizing: border-box;
	border: 1px solid grey;
	border-top: none;
	
	display: grid;
	grid-template-rows: 5fr 1fr;
}
.memo-content, .title {
	overflow-y: auto;
}
.stickyEdit .title {
	min-heigth: 30px;
}

.emptyMemo {
	margin : 30px;
	font-weight: bold;	
}
/* 
.stickyNote:active {
	z-index: 10;
} 
*/


/* ==========================================
	메모 이동/삭제/수정 버튼
=========================================== */
.stickyBar {
	border-top: 0.5px solid lightgrey;
}

.stickyBar-bottom {
	display: inline-block;
	position: absolute;
	top: 7px;
}

.memobar {
	border-radius: 5px;
	z-index: 1;
	font-size: 13px;
	letter-spacing: 1px;
	color: white; font-weight: bold;
	
	width: 50px;
	padding: 5px 20px;
	text-align: center;
}

.date {
	width : 200px;
	border: none;
	color: grey;
	font-size: 12px;
	font-weight: none;
	left: 20px;
}

.right {
	right: 10px;
	cursor: pointer;
}

.editableMemo, .editMemo {
	background: repeating-linear-gradient(45deg, #003876, transparent 190px);
}
.delMemo,.cancleEdit {
	background: repeating-linear-gradient(45deg, red, transparent 110px);
}

.updateSbj {
	background: repeating-linear-gradient(45deg, grey, transparent 110px);
}

/* 숨겨놓는 버튼 */
.hiddenDiv, .add-saveBtn {
	position: absolute;
	display: none;
	top: 7px;
	right: 10px;
}


/* 메모 생성시 저장 */
.saveMemo {
	border-radius: 10px;
	background: repeating-linear-gradient(45deg, red, transparent 110px);
}

/* 메모 선택/해제  
.checkDiv {
	box-shadow: none;
	border: none;
	bottom: -185px;
	right: 0px;
}
*/



