.memo-wrapper {
	margin-top: 50px;
}

/* ==========================================
	상단 과목 & 저장버튼
=========================================== */
.subject-wrap {
	position: relative;
	margin-bottom: 10px;
}
.subject-list {
	border : 1px solid lightgrey;
	width: 1000px;
	height: 110px;
	display: inline-block;
	overflow-y: scroll;
}
.subject-list > div:first-child {
	width: 250px; height: 50px;
	line-height: 100px;
	margin : 0 auto;
}

.subject-save {
	position: absolute;
	top: 30px;
	right: 50px; 
	display: inline-block;
}
input[type=radio] {
	display: none;
}

input[type=radio]:checked + label {
	background: red;
}

.subject {
	display: inline-block;
	width : 30%;
	height: 50px;
	background: #003876;
	color: white;
	font-size : 15px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	margin: 3px;
	border-radius: 10px;
}
.submitBtn {
	width: 75px;
	height: 50px;
}


/* ==========================================
	메모 삭제/수정 버튼
=========================================== */
.memobar {
	cursor: pointer;
	z-index: 3;
	opacity: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: white; font-weight: bold;
	
	width: 40px;
	padding: 5px;
	display: block;
	position: absolute;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: -1px 1px 4px rgba(0,0,0,0.5);
}

.editMemo, .edit-saveMemo {
	top: 0px;
	right: 0px;
	background: #003876;
}
.edit-saveMemo {
	background: red;
	display: none;
	z-index: 99;
}

.delMemo {
	top: 30px; right: 0px;
	background: #FFC240;
}

.stickyNote:hover .memobar {
	opacity: 1;
}

/* 메모 선택/해제  */
.checkDiv {
	box-shadow: none;
	border: none;
	bottom: -165px;
	right: 0px;
}
input[type=checkbox] {
	width: 25px;
	height: 25px;
}


/* ==========================================
	메모
=========================================== */
.memo-checked {
	border: 1.5px solid red !important;
}


#stickyContainer {
	width: 100%; height: 100%;
	/* 
	background-color: #ccdcfb; 
	border: 1px solid #003876;
	*/
}

/* .colorDiv {
	width: 50px;
    height: 22px;
    vertical-align: middle;
} */

#stickyContainer > button {
    margin: 4px;
    padding: 0px 5px 0px 20px;
    font-weight: bold;
    background: #9cd664 url('../../images/icon_add_stickynote.gif') no-repeat 4px 4px;
    color: #275035;
    border: 1px solid #5ca630;
    height: 22px;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.stickyNote {
	width: 350px; 
	min-height: 100px;
	box-shadow: 4px 4px 4px -1px #666;
	border: 1px solid #003876;
	overflow: hidden;
	transition: .5s height;
	
	display: inline-block;
	margin: 10px;
	background: white;
}
.stickyNote .stickyBar {
	margin: 0 auto;
	position: relative;
}

.stickyNote:active {
	z-index: 1000;
}

.stickyEdit {
	width: 340px;
	height: 160px;
	padding: 5px;
	overflow: auto;
}

span.glyphicon {
    margin-left: 3px;
}

.h20 {
	height: 20px;
}

.bgchoice {
	background: #999;
}