*{
    box-sizing: border-box !important;
    margin: 0 auto;
}
a{
  text-decoration: none;
  color:black;
}

/* 인풋박스 클릭 시 파란색 테두리 없애기  */
input:focus {
  outline: none;
}


/* 첫번째 줄 */
#body .item{
    display: grid;
    grid-template-columns: fr;
    height: 300px;
}
#searchType{
	height:30px;
	position:relative;
 	right:40px; 
 	bottom:10px;
    display: inline;
  /*   visibility: hidden;  */
}
.item > div {
    /* border:2px solid red; */
    border-radius: 10px;
}
/*----------------복사시작*/
#searchDiv{
	height:70px;
}
#subTitle{
  text-align:center;
  font-size: 40px;
  margin-top:20px;
  display: block;
}
/* 하이라이트 밑줄 */
#subTitle span::after, .word span::after {
  content: "";
  bottom: 2px;
  display: block;
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  height: 11px;
  background-color: pink;
  z-index: -1;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
}
/* 하이라이트 밑줄 효과 */
:after {
  box-sizing: border-box;
  outline: 0;
}
/* 스크롤 안보이게 */
::-webkit-scrollbar {
  display:none;
} 

/* 왼쪽 과목버튼리스트 */
.buttonList{
    width:170px;
    display: inline-block;
    overflow-y: auto;
    height:600px;
}
/* 과목 추가 버튼 */

#addButton{
  padding-left:10px;
}
#addButton:hover{
  cursor: pointer;
}
/* 소과목 */
.ddBtn {
  width:38px;
  height:40px;
  padding:4px 7px;
  position: absolute;
  right:0;
  top:0;
  cursor: pointer;
  font-size:25px;
  font-weight: bold;
}

/* 과목 버튼 */
.buttonList li{
  position:relative;
}
.buttonList .sideMenu{

  background: #003876;
  border:none;
  width:166px;
  height:40px;
  text-align: left;
  margin:2px;
  padding:10px;
}
/* .buttonList .sideMenu:active{
  background:#FFC240;
  color:#003876;
} */
/* 과목input */
.menuInput{
  background:none;
  border:none;
  font-size:20px;
  font-weight: bold;
  color:#FFC240;
  width:130px;
}
.smallSubject{
  background:none;
  border:none;
  font-size:15px;
  font-weight: bold;
  color:#003876;
  width:100px;
}

/* 메뉴버튼 눌렀을 때 */
/* .buttonList button:focus{
  background:#FFC240;
  color:#003876;

}
.inputFocus{
  color:#003876;
} */
/* childMenu */
.childMenu{
  border:none;
  width:166px;
  height:30px;
  background:lightgray;
  margin-left:2px;
  padding-left:30px;
  font-weight: bold;
}
.childMenu:hover{
  color:#003876;
  background: #FFC240;
  padding: 0px 40px;
}

/* 내용 큰상자? */
.box{
	width:1300px;
	margin:0 auto;
}


/* 내용 */
.content{
    display:inline-block;
    width:1100px;
    height:600px;
    overflow-y: auto;
    margin:5px;
    border : 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    margin:0 auto;
}


/* 누르면 맨위로 올라가기 */
html {
  scroll-behavior: smooth;
}
/* 위아래 스크롤 버튼*/
#position1 {
  /* display: none; */
  position:fixed;
  bottom:70px;
  right:30px;
}
#position1 > a{
  font-size:35px;
  text-decoration: none;
  cursor: pointer;
}
#position1 > a > .fas {
  color:#003876;
}
#position2 {
  position:fixed;
  bottom:30px;
  right:30px;

}
#position2 > a{
  font-size:35px;
  text-decoration: none;
  cursor: pointer;
}
#position2 > a > .fas {
  color:#003876;
}

/* -----------------------------------복사할곳끝 */
