

/* 첫번째줄 */
#body .item{
    display: grid;
    
    grid-template-columns: 4fr 4fr 4fr 4fr;
    height:200px;
} 
.item > div {
    /* border:2px solid red; */
    margin:20px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px lightgray;
}  

.item > div:hover, .item2 >div:hover{
    color: white;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 2px 2px 5px 2px lightgray;
    
    transition: 250ms ease;
}
/* 두번째줄 */
#body .item2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 800px;
}

.item2 > div {
    margin:0px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px lightgray;
}

#footer{
    height:150px;
    background: skyblue;
}


body {
    margin: 0 auto;
    padding: 0;
    background-color:rgb(247, 241, 241);
    font-family: 'Roboto', sans-serif;
    width:1250px;
}
