*{
  border : 0; margin: 0; padding: 0;
}
main {
width: 100%;
}
.userback {
  display: grid;
  grid-template-columns: 2fr 4fr;
  /* width: 1190px;  */
  width: 95%;
  height: 400px;
  padding: 10px;
  /* border: 2px solid black; */
}
/* 회원 정보 */
.user-card {
display: grid;
grid-template-columns: 1fr 1fr;
/* background: #2B3A4F; */
}
.user-card figure {
  margin : 0 auto;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 10px;
}
.user-card figure img {
border-radius: 50%;
vertical-align: middle;
width: 150px;
  position : relative;
  top: 30%;
}
/* ============ 정보 수정, 로그아웃 버튼/ 메세지 ============ */
.action-links {
  /* background: beige; */
  margin: 0 auto;
}
.action-links div {
    display: inline-block;
    text-align: center;
    width: 100px; height: 30px;
    border-radius: 10px;
    color: white;
    background: rgb(5, 100, 225);
    WIDTH: 60PX;
}
.action-links div:hover {
  color: rgb(5, 100, 225);
  background-color: white;
}
/* 이미지 옆 이름 */
.user-info > div {
  position: relative;
  top: 30%;
}
.user-card .name {
font-weight: bold;
font-size: 24px;
text-transform: uppercase;
}
.user-card .user-role,
.user-card .experience-points {
color: #92A1A2;
font-size: 16px;
margin: 9px 0;
}

.class-info {
  border : 1px solid black;
}

/* =============== 마이페이지 중간 메뉴 ================= */
.category-navigation {
  border-bottom: 1px solid #92A1A2;
  padding: 10px 10px 0;
}
.category-navigation a {
  box-sizing: border-box;
  color: #2B3A4F;
  display: block;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 0 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.category-navigation li {
  display: inline-block;
}
.category-navigation li + li {
  margin-left: 25px;
}
.category-navigation li.active a,
.category-navigation li:hover a {
  border-bottom: 4px solid #2DCC70;
}

/* =============== 아래 정보 ================= */
  .category-navigation .container {
    padding-bottom: 0;
    padding-top: 10px;
  }
  .card {
    display: inline-block;
    width: 30%;
    height: 500px;
    vertical-align: top;
  }
  .card li {
    box-sizing: border-box;
    color: #92A1A2;
    cursor: pointer;
    font-size: 13px;
    padding: 15px 16px;
    position: relative;
  }
  .card li .icon {
    position: absolute;
    left: 10px;
  }
  .card li + li {
    border-top: 1px solid #92A1A2;
  }
  .card li:before {
    content: "";
    height: 100%;
    left: -1px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
  .card li:hover {
    background-color: #ECF0F1;
    color: #2B3A4F;
  }
  .card li:hover:before {
    opacity: 1;
  }
  .card .hidden-content {
    border-top: 1px solid #92A1A2;
  }
  .card .show-more {
    border-top: 1px solid #92A1A2;
    color: #2B3A4F;
    font-size: 12px;
    padding: 8px 15px;
    text-align: right;
  }
  .card .show-more .fa {
    font-size: 12px;
    margin-left: 5px;
  }
  .card .show-more:before {
    content: none;
  }
  .card .tabs {
    position: relative;
  }
  .card .tabs li {
    background: transparent;
    border: 0;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    color: #92A1A2;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
  }
  .card .tabs li span {
    display: block;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .card .tabs li.active {
    background-color: white;
    border: 1px solid #92A1A2;
    border-bottom: 0;
  }
  .card + .card {
    margin-left: 5%;
  }
  .card.green .content li:before {
    background-color: #2DCC70;
  }
  .card.green .tabs li.active {
    color: #2DCC70;
  }
  .card.orange .content li:before {
    background-color: #E54239;
  }
  .card.orange .tabs li.active {
    color: #E54239;
  }
  .card.purple .content li:before {
    background-color: #8F40B3;
  }
  .card.purple .tabs li.active {
    color: #8F40B3;
  }
  .content {
    background-color: white;
    border: 1px solid #92A1A2;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    display: none;
    margin-top: -1px;
    overflow: hidden;
  }
  .content .has-icon li:not(.show-more) {
    padding: 15px 16px 15px 43px;
  }
  .content .fa {
    font-size: 14px;
    line-height: 0;
    padding-right: 3px;
  }
  .content.visible {
    display: block;
    height: 100px;
  }
  .card.card-full {
    margin-left: 0;
    margin-top: 5%;
    width: 100%;
  }
  .card.card-full .content {
    display: inline-block;
    height: 280px;
    margin-top: 0;
    overflow: visible;
  }
  .card.card-full .content.activity {
    border-radius: 0 0 3px 0;
  }
  .card.card-full .content.experience-graphs {
    border-right: 0;
    border-radius: 0 0 0 3px;
  }
  .graph {
    bottom: 0;
    height: 100%;
    left: 10px;
    position: absolute;
    text-align: center;
    width: 25px;
  }
  .graph .bar {
    font-size: 10px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .graph .value {
    background: #2DCC70;
    bottom: 0;
    display: inline-block;
    height: 40.6px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .graph:before {
    background-color: #000;
    content: "";
    bottom: 0;
    position: absolute;
    width: 50px;
  }
  .container {
    background-color: #ECF0F1;
    padding: 30px;
    height : 1000px;
  }
  .container.user {
    background-color: white;
    height: 300px;
  }
  h3 {
    color: #92A1A2;
    font-size: 15px;
    margin: 0 0 15px;
  }
  .fa:not(.fa-star):hover {
    color: #2DCC70;
    cursor: pointer;
  }
  .number-alert {
    background-color: #E54239;
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-family: "Tahoma";
    font-size: 9px;
    height: 15px;
    padding: 3px 0;
    position: absolute;
    right: -25%;
    text-align: center;
    top: -25%;
    width: 15px;
  }

  body {
    color: #202020;
    font-family: "Helvetica", "Open Sans", "Arial";
    font-size: 0;
  }
  .category-navigation {
    padding: 0;
  }
  .category-navigation > li {
    list-style: none;
  }