


/* 파일첨부 */
.download{
  position: relative;
  right:780px;
  text-decoration: none;
  color:black;
  margin:30px;

  /* padding-left:30px; */
}
 .file{
   margin-bottom:5px;
 }
 .preview{
  position: relative;
  right:900px;
  margin-bottom:5px;
  border:none;
  background: #e6e6e9;
  box-shadow: 1px 1px 0.5px 0.5px lightgray;
  
} 

/* 다음글 . 이전글 */
.post > a{
  text-align: left;
  padding:20px;

}
.post>a:hover{
  text-decoration-line: underline;
}

/* 목록 */
.list{
    display: grid;
    grid-template-columns: fr;
    height: 30px;
    margin-top:10px;
    margin-bottom: 80px;
}
#title{
	font-size:22px;
	padding-left:20px;
	text-align:left;
}
#text{
	text-align:left;
}
#write{
	text-align:left;
	padding-left:20px;	
}
#writer{
	padding-left:20px;
	text-align:left;
}
.adAssRegist .content{
	min-height:400px;
}

 #listMoveBtn{
    padding: 7px 16px;
    position: relative;
    right: 118px;
    font-size: 20px;
 }
 #delBtn{
    padding: 7px 16px;
    font-size: 20px;
 }
 
