/* 첫번째 줄 */
#body .item{
    display: grid;
    grid-template-columns: fr;
    height: 200px;
}
*{
    box-sizing: border-box;
}
a{
  text-decoration: none;
  color:black;
}
/* 두번째줄 */
table{
    border-top:2px solid lightgray;
    border-bottom:1px solid lightgray;
    width:1250px;
    border-collapse: collapse;
}
th{
   border-bottom: 1px solid lightgray;
    height:80px;
    /* border:2px solid lightgray; */
    font-size:20px;
    text-align: center;
  }


td{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    /* border:2px solid lightgray; */
    border-collapse: collapse;
    text-align:center;
    height:60px;
}
#title {
  width:600px;
  height: 50px;
  font-size:20px;
  border:none;
  position: relative;
  right:250px;
  background: none;
}
#contentWrite{
  background: none;
}

  /* 파일첨부 */
    
  .filebox {
    width: 250px; height: 15px;
    position: relative;
    top:-10px;
    left:150px;
}
.filebox label {
  /* display: inline-block; */
  padding: 0.5em .6em;
  color: white;
  font-size: 20px;
  background-color: rgb(241, 159, 50);
  /* cursor: pointer; */
  border-radius: .25em;
  }

  .filebox label:hover {
  background-color: rgb(255, 81, 0);
  }
  .filebox label:active {
  background-color:red;
  }
  .filebox input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
  }
    /* 파일첨부 이미지 */
    #contentimg {
      font-size:25px;
      font-family: 'Gaegu', cursive;
      width:500px;
  }
 .file{
   margin-bottom:5px;
 }
 .preview{
  position: relative;
  right:900px;
  margin-bottom:5px;
  border:none;
  background: #e6e6e9;
  box-shadow: 1px 1px 0.5px 0.5px lightgray;
  
} 


/* 내용 */
.content{
    display: grid;
    grid-template-columns: fr;
    height: 800px;
    border-bottom: 1px solid lightgray;
}
textarea{
  width:100%;
  font-size:20px;
  border-top:none;
  border-bottom:3px solid lightgray;
}

/* 목록 */
.list{
    display: grid;
    grid-template-columns: fr;
    height: 30px;
    margin-top:10px;
    margin-bottom: 80px;
}
#footer{
  margin-top:100px;
  height:100px;
  background: skyblue;
}
/* 목록버튼 */
.button {
    font-size: 5vw;
    border: none;
    background-color: #ebebf0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
   
    z-index: 1;
    padding: 0;
  }
  #button1{
    position: relative;
    /* 버튼 위치 옮기기 */
    left:500px;
  }
  #button2{
    position: relative;
    /* 버튼 위치 옮기기 */
    left:300px;
    top:-40px;
  }
 
   @media (min-width: 14px) {
    .button {
      font-size: 20px;
      font-weight:bold;
    } 
   } 
  .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(152, 152, 155, 0.2);
    transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    transition: transform 0.4s cubic-bezier(0, 0.9, 0.13, 0.9);
    transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
  }
  .button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ebebf0;
    z-index: -1;
  }
  .button:hover:before, .button:focus:before {
    -webkit-transform: translate3D(4px, 0, 0);
            transform: translate3D(4px, 0, 0);
  }
  .button:active:before {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
  }
  .button:focus, .button:active {
    outline: none;
  }
  .button .button__inner {
    line-height: 5px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #333;
    padding: 1em 1.5em;
    background-color: #fbfbfb;
    display: block;
    width: 100%;
    height: 10px;
    transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    position: relative;
  }
  .button:hover .button__inner, .button:focus .button__inner {
    -webkit-transform: translate3D(0, -5px, 0);
            transform: translate3D(0, -5px, 0);
    background-color: #fff;
  }
  .button:active .button__inner {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
  }
    #subTitle{
  text-align:center;
  font-size: 50px;
  margin:30px;
  display: block;

}